# Generally unused
_build*
_tests/*
_lib/*
_apps/*
_output/*
_premake_files/premake4.exe
_premake_files/premake4
.vscode*

**.exe
*.exe
**.asv
*.asv

**.csv
*.csv
**.dat
*.dat
**.stackdump
*.stackdump

# Used
build_sublime/
.mp4
.mp4
**.png
*.png
**.pyc
*.pyc
**.log
*.log
**.sublime-workspace
*.sublime-workspace



